$main-bg: rgb(243, 247, 249);
$main-text: rgb(51, 51, 51);
$alt-bg: rgb(253, 253, 253);
$border-color: #ccc;

body {
    background: $main-bg;
    color: $main-text;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

    .sprints,
	.sprint,
	.ticket {
		&>h1, &>h2, &>h3, &>h4, &>h5 {
			padding: .3em;
			background: $alt-bg;
		}
	}

	.content {
		padding: 0 1em;

		th,
		td {
			padding: .3em;
		}
	}

	dl {
		padding: 1em;
		display: grid;
		grid-template-columns: max-content auto;

		dt {
			padding-right: 1em;
			text-align: right;
			font-weight: bold;
			grid-column-start: 1;
		}

		dd {
			grid-column-start: 2;
		}
	}

	table {
		border-collapse: collapse;

		th,
		td {
			border-right: 1px solid $border-color;

			&:last-child {
				border-right: none;
			}
		}

		thead {
			tr:first-child {
				border-bottom: 1px solid $border-color;
			}
		}

		tr:nth-child(even) {
			background-color: $alt-bg;
		}
	}

	.sprint-board {
		overflow-x: auto;

		&>table {
			width: 100%;
		}
	}

	.chart-container {
		margin: 1em auto;
		position: relative;
		width: 90vw;
	}
}
