<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>{{ page.title }} | {{ site.title }}</title>
	<link rel="icon" href="{{ "/favicon.ico" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/bulma.min.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	<script src="{{ "/assets/js/lunr.min.js" | relative_url }}"></script>
</head>
<body>
	{% assign tickets = "" | split: "," %}
	{% for ticket in site.tickets %}
	{% if ticket.sprint %}
	{% assign sprints = site.pages | where: "title", ticket.sprint %}
	{% assign sprints_size = sprints | size %}
	{% if sprints_size == 0 %}
	{% assign tickets = tickets | push: ticket %}
	{% endif %}
	{% else %}
	{% assign tickets = tickets | push: ticket %}
	{% endif %}
	{% endfor %}
	{% assign tickets_size = tickets | size %}
	<div class="container is-fluid backlog">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			{% include navbar-brand.html %}
			<div id="navbar" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="{{ "/" | relative_url }}">Sprints</a>
					<a class="navbar-item is-active" href="{{ "/backlog.html" | relative_url }}">Backlog</a>
				</div>
			</div>
			{% include navbar-burger.html %}
		</nav>
		<section class="hero">
			<div class="hero-body">
				<p class="title">{{ page.title }}</p>
				<p class="subtitle">{% include pluralize.html size=tickets_size word="ticket" %}</p>
			</div>
		</section>
		<div class="content">{{ content }}</div>
		{% if tickets_size > 0 %}
		{% include search.html %}
		<div class="table-container">
			<table class="table">
				<tbody>
					{% for ticket in tickets %}
					<tr class="backlog-ticket"
						data-url="{{ ticket.url }}">
						<td><a href="{{ ticket.url | relative_url }}">{{ ticket.url }}</a></td>
						<td>{{ ticket.title }}</td>
						<td>{% include complexity.html complexity=ticket.complexity %}</td>
						<td>{{ ticket.assignee }}</td>
						<td>{{ ticket.status }}</td>
						<td>{{ ticket.created | date_to_string }}</td>
						<td>{{ ticket.updated | date_to_string }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<script>
			(function() {
				const backlog = document.querySelector('.backlog');
				const search = document.getElementById('search');
				const tickets = backlog.querySelectorAll('.backlog-ticket');

				const idx = lunr(function () {
					this.field('text');
					tickets.forEach(ticket => {
						this.add({
							'id': ticket.dataset.url,
							'text': ticket.textContent
						});
					});
				});

				search.addEventListener('change', function() {
					const results = idx.search(search.value);
					tickets.forEach(ticket => {
						const found = results.some(result => result.ref === ticket.dataset.url);
						ticket.style.display = found ? 'table-row' : 'none';
					});
				}, false);
			})();
		</script>
		{% endif %}
		{% include footer.html %}
	</div>
</body>
</html>
