<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>{{ page.title }} &mdash; {{ site.title }}</title>
	<link rel="icon" href="{{ "/favicon.ico" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/bulma.min.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	<script src="{{ "/assets/js/lunr.min.js" | relative_url }}"></script>
</head>
<body>
	<div class="container is-fluid backlog">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			{% include navbar-brand.html %}
			<div id="navbar" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="{{ "/" | relative_url }}">Sprints</a>
					<a class="navbar-item is-active" href="{{ "/backlog.html" | relative_url }}">Backlog</a>
				</div>
			</div>
			{% include navbar-burger.html %}
		</nav>
		<section class="hero">
			<div class="hero-body">
				<p class="title">{{page.title}}</p>
				<p class="subtitle">
					{% assign tickets = site.tickets | where_exp: "ticket", "ticket.sprint == nil" %}
					{% assign tickets_size = tickets | size %}
					{% if tickets_size > 0 %}
					{{ tickets_size }} ticket{% if tickets_size > 1 %}s{% endif %}
					{% else %}
					No ticket
					{% endif %}
				</p>
			</div>
		</section>
		<div class="content">{{ content }}</div>
		{% if tickets_size > 0 %}
		{% include search.html %}
		<div class="table-container">
			<table class="table">
				<tbody>
					{% for ticket in tickets %}
					<tr>
						<td><a href="{{ ticket.url | relative_url }}">{{ ticket.ref }}</a></td>
						<td class="ticket-title" data-ref="{{ ticket.ref }}">{{ ticket.title }}</td>
						<td>{% include complexity.html complexity=ticket.complexity %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<script>
			(function() {
				const backlog = document.querySelector('.backlog');
				const search = document.getElementById('search');
				const titles = backlog.querySelectorAll('.ticket-title');

				const idx = lunr(function () {
					this.field('ref');
					this.field('title');
					titles.forEach(title => {
						this.add({
							'ref': title.dataset.ref,
							'title': title.textContent,
							'id': title.dataset.ref
						});
					});
				});

				search.addEventListener('change', function() {
					const results = idx.search(search.value);
					titles.forEach(title => {
						const found = results.some(result => result.ref === title.dataset.ref);
						title.parentNode.style.display = found ? 'table-row' : 'none';
					});
				}, false);
			})();
		</script>
		{% endif %}
		{% include footer.html %}
	</div>
</body>
</html>
