<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <script src="{{ "/assets/js/chart.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
</head>
<body>
  {% assign sprint_tickets = site.tickets | where: "sprint", page.title %}
  {% assign sprint_tickets_size = sprint_tickets | size %}
  {% assign complexity = 0 %}
  {% for ticket in sprint_tickets %}
  {% assign complexity = complexity | plus: ticket.complexity %}
  {% endfor %}
  <div class="sprint" data-from="{{ page.from }}" data-to="{{ page.to }}" data-complexity="{{ complexity }}">
    <h1>{{page.title}}</h1>
    <dl>
      <dt>Tickets</dt>
      <dd>{{ sprint_tickets_size }}</dd>
      <dt>Complexity</dt>
      <dd>{{ complexity }}</dd>
      <dt>From</dt>
      <dd>{{ page.from }}</dd>
      <dt>To</dt>
      <dd>{{ page.to }}</dd>
    </dl>
    <div class="content">{{ content }}</div>
    {% if sprint_tickets_size > 0 %}
      <div class="sprint-board">
        <table>
          <thead>
            <tr>
              <th>TO DO</th>
              <th>DOCUMENTATION</th>
              <th>DEVELOPEMENT</th>
              <th>BLOCKED / WAITING QA</th>
              <th>REVIEW</th>
              <th>DONE</th>
            </tr>
          </thead>
          <tbody>
          {% for ticket in sprint_tickets %}
          {% capture ticket_cell %}
          <td class="sprint-ticket"
            data-ref="{{ ticket.ref }}"
            data-complexity="{{ ticket.complexity }}"
            data-status="{{ ticket.status }}"
            data-updated="{{ ticket.updated }}">
            <dl>
              <dt>Ref.</dt>
              <dd><a href="{{ ticket.url }}">{{ticket.ref}}</a></dd>
              <dt>Title</dt>
              <dd>{{ ticket.title }}</dd>
              <dt>Complexity</dt>
              <dd>{{ ticket.complexity }}</dd>
              <dt>Assignee</dt>
              <dd>{{ ticket.assignee }}</dd>
            </dl>
            <div class="content">{{ ticket.content | mardownify }}</div>
          </td>
          {% endcapture %}
          <tr>
            {% if ticket.status == "TO DO" %}
            {{ ticket_cell }}<td></td><td></td><td></td><td></td><td></td>
            {% elsif ticket.status == "DOCUMENTATION" %}
            <td></td>{{ ticket_cell }}<td></td><td></td><td></td><td></td>
            {% elsif ticket.status == "DEVELOPEMENT" %}
            <td></td><td></td>{{ ticket_cell }}<td></td><td></td><td></td>
            {% elsif ticket.status == "BLOCKED / WAITING QA" %}
            <td></td><td></td><td></td>{{ ticket_cell }}<td></td><td></td>
            {% elsif ticket.status == "REVIEW" %}
            <td></td><td></td><td></td><td></td>{{ ticket_cell }}<td></td>
            {% elsif ticket.status == "DONE" %}
            <td></td><td></td><td></td><td></td><td></td>{{ ticket_cell }}
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="chart-container">
      <canvas id="sprint-brundown-chart"></canvas>
    </div>
    {% endif %}
  </div>
</body>
</html>
