<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>{{ page.title }} &mdash; {{ site.title }}</title>
	<link rel="icon" href="{{ "/favicon.ico" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/bulma.min.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	<script src="{{ "/assets/js/lunr.min.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/chart.min.js" | relative_url }}"></script>
</head>
<body>
	{% assign tickets = site.tickets | where: "sprint", page.title %}
	{% assign tickets_size = tickets | size %}
	{% assign complexity = 0 %}
	{% for ticket in tickets %}
	{% assign complexity = complexity | plus: ticket.complexity %}
	{% endfor %}
	<div class="container is-fluid sprint" data-start="{{ page.start }}" data-end="{{ page.end }}" data-complexity="{{ complexity }}">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			{% include navbar-brand.html %}
			<div id="navbar" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="{{ "/" | relative_url }}">Sprints</a>
					<a class="navbar-item" href="{{ "/backlog.html" | relative_url }}">Backlog</a>
					<a class="navbar-item is-active" href="{{ page.url | relative_url }}">{{ page.title }}</a>
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">More</a>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="#board">Board</a>
							<a class="navbar-item" href="#chart">Burndown chart</a>
						</div>
					</div>
				</div>
			</div>
			{% include navbar-burger.html %}
		</nav>
		<section class="hero">
			<div class="hero-body">
				<p class="title">{{ page.title }}</p>
				<p class="subtitle">{% include pluralize.html size=tickets_size word="ticket" %}</p>
			</div>
		</section>
		<nav class="level">
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Start</p>
					<p class="title">{{ page.start | date_to_string }}</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">End</p>
					<p class="title">{{ page.end | date_to_string }}</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Complexity</p>
					<p class="title">{{ complexity }}</p>
				</div>
			</div>
		</nav>
		<div class="content">{{ content }}</div>
		{% if tickets_size > 0 %}
		{% include search.html %}
		<div id="board" class="table-container">
			<table class="table is-bordered is-striped is-hoverable is-fullwidth">
				<thead>
					<tr>
						<th>TO DO</th>
						<th>DOCUMENTATION</th>
						<th>DEVELOPEMENT</th>
						<th>BLOCKED</th>
						<th>REVIEW</th>
						<th>DONE</th>
					</tr>
				</thead>
				<tbody>
					{% for ticket in tickets %}
					{% capture ticket_cell %}
					<td class="sprint-ticket"
						data-url="{{ ticket.url }}"
						data-complexity="{{ ticket.complexity }}"
						data-status="{{ ticket.status }}"
						data-updated="{{ ticket.updated }}">
						<p class="title is-size-5">{{ ticket.title }}</p>
						<p class="subtitle is-size-6">
							<a href="{{ ticket.url | relative_url }}">{{ ticket.ref }}</a>
							<br>
							<span class="is-italic">{{ ticket.assignee }}</span>
							<br>
							{% include complexity.html complexity=ticket.complexity %}
							{% if ticket.updated %}
							<br>
							<span class="has-text-grey">{{ ticket.updated | date_to_string }}</span>
							{% endif %}
						</p>
						<div class="content">{{ ticket.content | mardownify }}</div>
					</td>
					{% endcapture %}
					<tr>
						{% if ticket.status == "TO DO" %}
						{{ ticket_cell }}<td></td><td></td><td></td><td></td><td></td>
						{% elsif ticket.status == "DOCUMENTATION" %}
						<td></td>{{ ticket_cell }}<td></td><td></td><td></td><td></td>
						{% elsif ticket.status == "DEVELOPEMENT" %}
						<td></td><td></td>{{ ticket_cell }}<td></td><td></td><td></td>
						{% elsif ticket.status == "BLOCKED" %}
						<td></td><td></td><td></td>{{ ticket_cell }}<td></td><td></td>
						{% elsif ticket.status == "REVIEW" %}
						<td></td><td></td><td></td><td></td>{{ ticket_cell }}<td></td>
						{% elsif ticket.status == "DONE" %}
						<td></td><td></td><td></td><td></td><td></td>{{ ticket_cell }}
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<canvas id="chart"></canvas>
		<script>
			(function() {
				const sprint = document.querySelector('.sprint');
				const search = document.getElementById('search');
				const tickets = sprint.querySelectorAll('.sprint-ticket');
				const chart = document.getElementById('chart');

				const idx = lunr(function () {
					this.field('title');
					this.field('subtitle');
  					this.field('content');
					tickets.forEach(ticket => {
						console.log(ticket.querySelector('.subtitle').textContent);
						this.add({
							'title': ticket.querySelector('.title').textContent,
							'subtitle': ticket.querySelector('.subtitle').textContent,
							'content': ticket.querySelector('.content').textContent,
							'id': ticket.dataset.url
						});
					});
				});

				search.addEventListener('change', function() {
					const results = idx.search(search.value);
					tickets.forEach(ticket => {
						const found = results.some(result => result.ref === ticket.dataset.url);
						ticket.parentNode.style.display = found ? 'table-row' : 'none';
					});
				}, false);

				let complexity = parseInt(sprint.dataset.complexity, 10);

				const doneTicketsMap = Array.from(tickets).reduce((acc, curr) => {
					if (curr.dataset.status === 'DONE') {
						const updated = new Date(curr.dataset.updated).toLocaleDateString();
						if (!acc[updated]) {
							acc[updated] = 0;
						}
						acc[updated] += parseInt(curr.dataset.complexity, 10);
					}
					return acc;
				}, {})

				const chartData = {
					labels: [],
					datasets: [{
							label: "Ideal",
							data: [],
							borderColor: 'hsl(171, 100%, 41%)',
							backgroundColor: 'hsl(171, 100%, 41%)'
					}, {
							label: "Completed",
							data: [],
							stepped: true,
							borderColor: 'hsl(204, 86%, 53%)',
							backgroundColor: 'hsl(204, 86%, 53%)'
					}]
				};

				const end = new Date(sprint.dataset.end);
				for (const start = new Date(sprint.dataset.start); start <= end; start.setDate(start.getDate() + 1)) {
					chartData.labels.push(start.toLocaleDateString());
				}

				chartData.datasets[0].data = [{
					x: chartData.labels[0],
					y: complexity
				}, {
					x: chartData.labels[chartData.labels.length - 1],
					y: 0
				}];

				for (let i = 0; i < chartData.labels.length; ++i) {
					const day = chartData.labels[i];
					if (doneTicketsMap[day]) {
						complexity -= doneTicketsMap[day];
					}
					chartData.datasets[1].data.push({
						x: chartData.labels[i],
						y: complexity
					});
				}

				new Chart(chart.getContext('2d'), {
					type: 'line',
					data: chartData,
					options: {
						responsive: true
					}
				});
			})();
		</script>
		{% endif %}
		{% include footer.html %}
	</div>
</body>
</html>
