<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>{{ page.ref }} &mdash; {{ site.title }}</title>
	<link rel="icon" href="{{ "/favicon.ico" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/bulma.min.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body>
	<div class="container is-fluid ticket">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			{% include navbar-brand.html %}
			<div id="navbar" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="{{ "/" | relative_url }}">Sprints</a>
					<a class="navbar-item" href="{{ "/backlog.html" | relative_url }}">Backlog</a>
					<a class="navbar-item is-active" href="{{ page.url | relative_url }}">{{ page.ref }}</a>
				</div>
			</div>
			<script src="{{ "/assets/js/navbar-burger.js" | relative_url }}"></script>
		</nav>
		<section class="hero">
			<div class="hero-body">
				<p class="title">{{page.ref}} &mdash; {{page.title}}</p>
				<p class="subtitle">
					{% assign sprint = site.pages | find: "title", page.sprint %}
					{% if sprint %}
					<a href="{{ sprint.url | relative_url }}">{{ sprint.title }}</a>
					{% else %}
					{{ page.sprint }}
					{% endif %}
				</p>
			</div>
		</section>
		<nav class="level">
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Complexity</p>
					<p class="title">{{ page.complexity }}</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Assignee</p>
					<p class="title">{{ page.assignee }}</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Status</p>
					<p class="title">{{ page.status }}</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Created</p>
					<p class="title">{{ page.created | date: "%a, %b %d, %y" }}</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Updated</p>
					<p class="title">{{ page.updated | date: "%a, %b %d, %y" }}</p>
				</div>
			</div>
		</nav>
		<div class="content">{{ content }}</div>
		{% include footer.html %}
	 </div>
</body>
</html>
