<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.ref }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/bulma.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body>
  <div class="container is-fluid ticket">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
	<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
	  <span aria-hidden="true"></span>
	  <span aria-hidden="true"></span>
	  <span aria-hidden="true"></span>
	</a>
      </div>
      <div id="navbar" class="navbar-menu">
	<div class="navbar-start">
	  <a class="navbar-item" href="/">
            Sprints
	  </a>
	  <a class="navbar-item" href="/backlog.html">
            Backlog
	  </a>
	  <a class="navbar-item is-active" href="{{page.url}}">
            {{ page.ref }}
	  </a>
	</div>
      </div>
    </nav>
    <section class="hero">
      <div class="hero-body">
	<p class="title">
	  {{page.ref}} - {{page.title}}
	</p>
	<p class="subtitle">
	  {% assign sprint = site.pages | find: "title", page.sprint %}
	  {% if sprint %}
	  <a href="{{ sprint.url }}">{{ sprint.title }}</a>
	  {% else %}
	  {{ page.sprint }}
	  {% endif %}
	</p>
      </div>
    </section>
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Complexity</p>
          <p class="title">{{ page.complexity }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Assignee</p>
          <p class="title">{{ page.assignee }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Status</p>
          <p class="title">{{ page.status }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Created</p>
          <p class="title">{{ page.created | date: "%a, %b %d, %y" }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Updated</p>
          <p class="title">{{ page.updated | date: "%a, %b %d, %y" }}</p>
        </div>
      </div>
    </nav>
    <div class="content">{{ content }}</div>
    {% include footer.html %}
   </div>
</body>
</html>
